@media (max-width: 767px) {

.container{ max-width:100% }

.fp-section {
  min-height: auto !important;
  height: auto !important;
}

#section0,#section1,#section2,#section3, #section5, #section4, #section6,#slide1,#slide2{background-attachment: unset;}


.section0{
  padding-top: 5rem; min-height:45vh !important;
  background-position: bottom center; background-size: 100% auto !important; background-repeat: no-repeat; background-image: url(imgs/trang-dau-mobi.png) !important;
}
.section0 .img img{ height:80px }

.section1{ padding-top:5rem; min-height:45vh !important; background-position: bottom center; background-size: 100% auto !important; background-repeat: no-repeat;
  background-image: url(imgs/trang-2-mobi.jpg) !important; padding-left:0 }
.section1 .img img{ height:100px }

.section2{ padding-top:2rem; min-height:65vh !important; }
.row-tongquan{ padding:1rem }
.row-tongquan h2 {font-size: 1.7rem;}
.row-tongquan ul li { font-size: 1rem;  margin-bottom: .5rem}
.mySwiper2 .swiper-slide img, .mySwiper2{height: 50vh !important; width: 100%;}
.lienketvung{ min-height:50vh !important; }
.mySwiper .swiper-slide img{ width:50px; height:50px }
.mySwiper2 .custom-next, .mySwiper2 .custom-prev {width: 30px;     bottom: 2rem;}
.mySwiper2 .custom-next{ right:2rem !important }
.mySwiper2 .custom-prev{ left:2rem !important }

.vitri{
  height:80vh;
  background-position: bottom center; background-size: 100% auto !important; background-repeat: no-repeat;
}
.row-vitri img{ height:85px }
.row-vitri{ top:2rem; width:100%; padding:1rem; right:auto; width: fit-content;
margin: 0 auto; }

.tienich{ padding-top:2rem; min-height:auto !important }
.marquee-content img{ width:100%; height:auto !important; }
.vertical-marquee{ height:40vh }
.row-tienich img{ height:100px }
.tienich .row-tienich .img div {
    margin-left: -46px;
}
.tienich .row-tienich .img h4, .tienich .row-tienich .img h5 {
    font-size: 1rem;
    letter-spacing: .2rem;
}
.tienich .row-tienich{ height:auto; margin-top:2rem; padding-bottom:4rem }
.row-tienich .next-slide img {
  height: 45px;
}
 .slide {
    flex: none;
    width: 100%;
    transform: none !important;
    opacity: 1 !important;
    position: static !important;
  }
  
  .slide:not(:first-child) {
    display: block;
  }

.matbang{ background-position: bottom center; background-size: auto 100% !important; background-repeat: no-repeat; padding-bottom:3rem }
.matbang .img img{ width:100% }
.matbang h2{ margin-top:2rem; font-size:2.4rem }
.matbang .desc ol li{ line-height:1.4rem }

.section7 p{ font-size:1rem; font-weight:100 }
.section7 .section71 p{         margin-top: 0;
        line-height: 1.5rem; }
.mb-row-reverse{ flex-direction: row-reverse; }
.section7 .section71, .section711{ width:100%;     justify-content: space-between; }
.section7 .section71{ margin:1rem 0 }
#section8{ height:84vh; background-position: bottom center;     background-image: url(imgs/bg1-mobi.jpg); }
.section8{ padding-top:3rem; }

#section7{ padding:3rem 0; }

.matbang{ padding:3rem 0; }

.loithe{ height:60vh; padding:3rem 0;  }

.loithe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; 
  background: url('imgs/Artboard150.png') no-repeat bottom center;
  background-size: 100% auto;
  display: block;
}

.rotate90 {
  transform: rotate(90deg);
}

.tintuc .col-md-3 .img{ height:125px; }
.tintuc .col-md-3 img{ height:160% }
.tintuc .col-md-3 .img {justify-content: center;}

.tintuc .col-md-4 img{ height:40vh } 
.tintuc .col-md-4 .img{ margin-bottom:2rem }

.lienhe{ padding:3rem 0 }
.lienhe .logo img{ height:100px }

.title-gradient{ font-size:1.7rem }
.lienhe .form {
    flex-direction: column;
}

.lienhe .form input, .lienhe .form button{ margin-bottom:1rem }

.custom-next-matbang{ right:0 }
.loithe .custom-next-matbang{ right:0 }

}